.menu-c {
  background-color: black;
  height: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 3px 3px 5px gray; }
  .menu-c a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 2em;
    line-height: 60px;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 1px; }
  .menu-c a:hover {
    color: #FFA9BF; }

.extra-info {
  background-color: #d8d8d8;
  height: 4vh;
  margin-bottom: 1em;
  color: #313030;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .extra-info ul {
    display: flex; }
  .extra-info li {
    justify-content: space-between;
    margin: 0 4em;
    list-style: none;
    line-height: 30px; }
    .extra-info li i {
      margin-right: 0.8em; }

.active {
  text-decoration: underline;
  color: red; }

.searchbarAndLogo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

/* breadcrumbs */
.breadcrumbs {
  padding: 10px; }

.breadcrumbs__item {
  display: inline-block; }

.breadcrumbs__item:not(:last-of-type)::after {
  content: "/";
  margin: 0 5px;
  color: lightgray; }

.breadbrumbs__link {
  color: darkgrey;
  letter-spacing: 1.5px; }

.breadbrumbs__link:hover {
  text-decoration: underline; }

.breadcrumbs__link--active {
  color: #FFA9BF;
  font-weight: 500; }

.breadcrumbs__link--active:hover {
  text-decoration: none; }

/* spinner */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99; }

.ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 1s linear infinite; }

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #18b201; }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #0456c8; }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #8004c8; } }
.ring:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(14, 12, 12, 0.3); }

.loadingS {
  color: darkslategrey;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden; } }
.herobanner {
  background-image: url(/images/HeroBannerr.jpg);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 5px gray; }

.banner1 {
  background-image: url(/images/gift.jpg);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 5px gray;
  color: white;
  margin: 2em 0; }
  .banner1 h2 {
    position: absolute;
    right: 10%;
    bottom: -190%;
    font-size: 50px; }

.herobanner a {
  background-color: black;
  color: white;
  padding: 1em 2em;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  left: 9%;
  position: absolute;
  bottom: 29%;
  width: 200px;
  text-align: center; }

.herobanner a:hover {
  background-color: #FFA9BF;
  color: black; }

.slogan {
  position: absolute;
  bottom: 50%;
  width: 500px;
  margin-left: 2em;
  font-family: 'Comfortaa', cursive; }

.sloganp {
  position: absolute;
  bottom: 45%;
  width: 500px;
  margin-left: 2em; }

/* LOGO */
.logo {
  width: 250px; }

/* new arrival */
.newArrivalHeading {
  margin: 3em;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 3em; }
  .newArrivalHeading h1 {
    margin: 1em 0;
    font-family: 'Mohave', sans-serif;
    letter-spacing: 3px;
    font-weight: 400; }
  .newArrivalHeading span {
    font-weight: 400;
    font-size: 20px; }

.featured-products {
  margin: 1em; }

.pDiv {
  margin: 5em 2em;
  padding: 1em;
  width: 300px;
  height: 300px;
  display: inline-block;
  text-align: center;
  cursor: pointer; }
  .pDiv img {
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 3px darkgray; }
  .pDiv h3 {
    margin: 2em 1em;
    color: grey; }
  .pDiv p {
    margin: 0.5em; }
  .pDiv a {
    text-decoration: none;
    transition: 0.5s ease; }
  .pDiv a:hover {
    opacity: 50%; }

.featured-products {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap; }

/*product page card*/
.productspage {
  border-bottom: 1px solid lightgrey;
  padding: 2em 0em; }
  .productspage img {
    width: 200px;
    height: 200px; }
  .productspage i {
    color: #f3cc1d; }

/* CATEGORY  SECTION*/
.categoryDiv h2 {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 1em;
  margin-left: 1.5em;
  font-family: "Mohave", sans-serif;
  letter-spacing: 3px;
  border-bottom: 1px solid lightgrey;
  padding: 2em 0em; }

.categoryDiv {
  margin: 2em;
  margin-bottom: 5em; }
  .categoryDiv a {
    color: black;
    text-decoration: none; }

.categoryDiv img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0.8em;
  box-shadow: 3px 3px 3px 3px lightgray;
  transition: 0.5s;
  cursor: pointer; }

.categoryDiv img:hover {
  opacity: 50%; }

.imgCateDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.imgText {
  text-align: center; }

.logoutBtn {
  background-color: #cfbeb6;
  color: black;
  width: 80px;
  height: 25px;
  font-family: "montserrat";
  border: none; }

.shophereDiv {
  margin: 2em 3em;
  border-bottom: 1px solid grey;
  padding: 3em; }

.shophereBtn {
  padding: 0.7em 2em;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none; }

.ViewAllP {
  padding: 0.7em 2em;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none; }

.veiwAllProducts {
  margin: 10em 4em;
  text-align: center;
  border-bottom: 1px solid grey;
  padding-bottom: 4em; }

.pDiv button {
  background-color: #ffbdcd;
  width: 150px;
  height: 40px;
  border: none;
  color: black;
  cursor: pointer; }

.searchWrapper input {
  width: 250px;
  height: 40px;
  border: none;
  border-left: 1px solid grey;
  margin-top: 1em; }

.searchWrapper {
  margin-left: 1em; }

.cart-div {
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1em;
  padding: 1em; }
  .cart-div img {
    width: 200px;
    box-shadow: 4px 4px 3px darkgray; }

.cart-div img {
  width: 800px; }

.cart-total {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 3em;
  text-align: right;
  margin-bottom: 1em;
  font-size: 25px;
  font-weight: bold; }

.cartHeading {
  align-items: center;
  text-align: center;
  padding: 2em 0em; }
  .cartHeading h1 {
    font-family: 'Mohave', sans-serif;
    letter-spacing: 3px;
    font-weight: 400; }

/* FOOTER SECTION */
footer {
  text-align: center;
  background-color: #cac9c9;
  height: 75vh;
  margin: 0; }
  footer a {
    color: black;
    text-decoration: none; }

footer h3 {
  font-size: 2.5em;
  letter-spacing: 4px;
  padding: 2em 0;
  font-weight: 400;
  font-family: 'Comfortaa', cursive; }

.footerDiv {
  text-align: center; }

.footerDiv ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.footerDiv li {
  list-style: none;
  border-right: 1px solid black;
  padding: 0 1.5em;
  margin: 2em 0;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s; }

.footerDiv li:hover {
  opacity: 50%;
  color: #FFA9BF; }

footer img {
  margin-bottom: 2em; }

/* SUBSCRIBE SECTION */
.subDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(/images/subscribe.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3em;
  border-bottom: 2px solid white;
  height: 70vh;
  margin: 0; }

.subDiv h3 {
  color: white;
  font-size: 1.8em;
  max-width: 500px;
  letter-spacing: 1px; }

.emailSect {
  margin-left: 1em; }

.emailSect input {
  padding: 1em 3em;
  border: none;
  margin-top: 2em; }

.emailSect a {
  padding: 0.8em 2em;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 2em; }

.emailSect a i {
  margin-left: 8px;
  font-size: 20px; }

.shopbyLook {
  background-image: url(/images/look.jpg);
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat; }

.lookheading {
  position: absolute;
  bottom: -390%;
  right: 10%; }

.lookp {
  position: absolute;
  bottom: -400%;
  right: 10%; }

.lookshopNowBtn {
  padding: 0.7em 2em;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  bottom: -410%;
  right: 10%; }

.productHeading {
  align-items: center;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding: 2em 0em; }
  .productHeading h1 {
    font-family: 'Mohave', sans-serif;
    letter-spacing: 3px;
    font-weight: 400; }

.productspageLook {
  margin: 2em 0; }

.lookheadingproductspage {
  position: absolute;
  bottom: 40%;
  right: 10%; }

.lookpproductspage {
  position: absolute;
  bottom: 30%;
  right: 10%; }

.lookshopNowBtnproduct {
  padding: 0.7em 2em;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  bottom: 15%;
  right: 10%; }

.productdetailHeading {
  align-items: center;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding: 2em 0em; }
  .productdetailHeading h1 {
    font-family: 'Mohave', sans-serif;
    letter-spacing: 3px;
    font-weight: 400; }

.all-products {
  margin: 3em 0;
  text-align: center;
  align-items: center; }
  .all-products img {
    width: 400px; }
  .all-products h2 {
    font-family: 'Mohave', sans-serif;
    letter-spacing: 3px;
    font-weight: 400;
    padding-bottom: 2em;
    padding-top: 2em; }
  .all-products p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    max-width: 450px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .all-products button {
    padding: 0.7em 2em;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    margin: 2em 2em; }
  .all-products a {
    background-color: #ffbdcd;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    padding: 0.6em 2em; }

.cartdiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }

.login-heading {
  align-items: center;
  text-align: center;
  padding: 2em 0em; }
  .login-heading h1 {
    font-family: 'Mohave', sans-serif;
    letter-spacing: 3px;
    font-weight: 400; }

.container {
  text-align: center;
  border: 1px solid lightgray;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  background-color: #ffc2d1;
  margin-bottom: 10em;
  box-shadow: 4px 4px 3px darkgray; }
  .container input {
    margin: 1em;
    padding: 0.3em; }
  .container input::placeholder {
    padding: 1em; }
  .container button {
    background-color: black;
    color: white;
    padding: 0.8em 2em;
    margin-top: 2em; }

.message-c {
  color: red; }

.addProductHeading {
  align-items: center;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding: 2em 0em; }
  .addProductHeading h1 {
    font-family: 'Mohave', sans-serif;
    letter-spacing: 3px;
    font-weight: 400; }

.addProductForm {
  text-align: center;
  border: 1px solid lightgray;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  background-color: #ffc2d1;
  margin-bottom: 3em;
  box-shadow: 4px 4px 3px darkgray; }
  .addProductForm input {
    margin: 1em; }
  .addProductForm button {
    padding: 0.7em 2em;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 3em; }

.form-message {
  color: #a77143;
  display: inline-block; }

.created-product {
  color: seagreen;
  margin: 2em; }

.editHeading {
  align-items: center;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding: 2em 0em; }
  .editHeading h1 {
    font-family: 'Mohave', sans-serif;
    letter-spacing: 3px;
    font-weight: 400; }

.editContainer {
  margin-top: 3em;
  margin-bottom: 3em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat"; }

/*# sourceMappingURL=main.css.map */
