.cart-div{
    background-color: darkgray;
    display: block;
    margin: 1em;
    padding: 1em;
}


.cart-total{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 3em;
}

.cartHeading{
    align-items: center;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 2em 0em;

    h1{
        font-family: 'Mohave', sans-serif;
        letter-spacing: 3px;
        font-weight: 400;
        
    }
    
}