.cart-products .cart-div{
  
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;

    a{
        background-color: white;
        color: black;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        
        
    }

    
img{
   
    width: 200px;
    box-shadow: 4px 4px 3px darkgray;
}
  
}

.cart-div img{
    width: 800px;
}


.cart-total{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 3em;
    text-align: right;
    margin-bottom: 1em;
    font-size: 25px;
    font-weight: bold;
}



.cartHeading{
    align-items: center;
    text-align: center;
   
    padding: 2em 0em;

    h1{
        font-family: 'Mohave', sans-serif;
        letter-spacing: 3px;
        font-weight: 400;
        
    }
    
}

@media screen and (min-width: 374px) and (max-width: 767px){
    .cart-div{
        img{
            height: 200px;
        }
    }   
}

