
/* FOOTER SECTION */

footer {
       text-align: center;
        background-color: #000000;
        height: 60vh;
        margin: 0;

        a{
            color:white;
            text-decoration: none;
        }
        
       
  }
  
  footer h3 {
    font-size: 2.5em;
    letter-spacing: 4px;
    padding: 2em 0;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
    color: white;
  }
  
  .footerDiv {
    text-align: center;
  }
  
  .footerDiv ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footerDiv li {
    list-style: none;
    border-right: 1px solid black;
    padding: 0 1.5em;
    margin: 2em 0;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
  }
  .footerDiv li:hover {
    opacity: 50%;
    color: #FFA9BF;
  }
  
  footer img {
    margin-bottom: 2em;
  }

  @media screen and (max-width:768px){
    
    footer {
      height: 55vh;
    }
  }

  @media screen and (min-width: 375px) and (max-width: 767px){
    footer {
      height: 55vh;
    }

    footer h3 {
      font-size: 0.8em;
      

    }

    footer img{
      width: 300px;
    }
  }

  @media screen and (min-width:768px){
    footer h3 {
      font-size: 1.5em;
      

    }
  }