.herobanner{
    background-image: url(/images/HeroBannerr.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 5px gray;
}

.banner1{
    background-image: url(/images/gift.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 5px gray;
    color: white;
    margin: 2em 0;

    h2{
        position: absolute;
        right: 10%;
        bottom: -190%;
        font-size: 50px;
    }
}


.herobanner a {
    background-color: black;
    color: white;
    padding: 1em 2em;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    left: 9%;
    position: absolute;
    bottom: 29%;
    width: 200px;
    text-align: center;
   
  }
  .herobanner a:hover {
    background-color: #FFA9BF;
    color: black;
  }

  .slogan {
    position: absolute;
    bottom: 50%;
    width: 500px;
    margin-left: 2em;
    font-family: 'Comfortaa', cursive;
    
  }

  .sloganp {
    position: absolute;
    bottom: 45%;
    width: 500px;
    margin-left: 2em;
  }


 /* LOGO */

 .logo{
     width: 250px;
 }



 /* new arrival */
 .newArrivalHeading{
     margin: 3em;
     align-items: center;
     border-bottom: 1px solid lightgrey;
     padding-bottom: 3em;
    
     
     h1{
         margin: 1em 0;
         font-family:  'Mohave', sans-serif;
         letter-spacing: 3px;
         font-weight: 400;
     }

     span{
         font-weight: 400;
         font-size: 20px;
     }
 }


 






