

.menu{
    
display: flex;
justify-content: space-around;
align-items: center;
min-height: 8vh;
background-color: black;
color: white;

.bslogo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}


.nav-links li{
    list-style: none;
}



    a:hover{
       color: #FFA9BF;
       
        
    }

    .burger{
        cursor: pointer;
    }

    .burger div{
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
    }

    
}


@media screen and (max-width:768px){
  .nav-links{
 
    top: 10vh;
  
}
}

@media screen and (max-width:1099px){
    body{
        overflow-x: hidden;
    }
  
.nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 14vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}
.nav-links li{
    opacity: 0;
}

.burger{
    display: block;
}

}

@media screen and (min-width:1100px){
    .burger{
        display: none;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);;
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);;
}





.extra-info{
    background-color: #d8d8d8;
    height: 4vh;
    margin-bottom: 1em;
    color: rgb(49, 48, 48);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

    ul{
        display: flex;
       
    }

    li{
        justify-content: space-between;
        margin: 0 4em;
        list-style: none;
        line-height: 30px;

        i{
            margin-right: 0.8em;
        }
    }
}


.active{
    text-decoration: underline;
    color: red;
}


.fa-shopping-cart{
    
}


.searchbarAndLogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}




/* breadcrumbs */

.breadcrumbs {
    padding: 10px;
  }
  
  .breadcrumbs__item {
    display: inline-block;
  }
  
  .breadcrumbs__item:not(:last-of-type)::after {
    content: "/";
    margin: 0 5px;
    color: lightgray;
  }
  
  .breadbrumbs__link {
    color: darkgrey;
    letter-spacing: 1.5px;
  }
  
  .breadbrumbs__link:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs__link--active {
    color:#FFA9BF;
    font-weight: 500;
  }
  
  .breadcrumbs__link--active:hover {
    text-decoration: none;
  }




/* spinner */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  
  .ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 1s linear infinite;
  }
  
  @keyframes ring {
    0% {
      transform: rotate(0deg);
      box-shadow: 1px 5px 2px #18b201;
    }
    50% {
      transform: rotate(180deg);
      box-shadow: 1px 5px 2px #0456c8;
    }
    100% {
      transform: rotate(360deg);
      box-shadow: 1px 5px 2px #8004c8;
    }
  }
  
  .ring:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(14, 12, 12, 0.3);
  }
  
  .loadingS {
    color: darkslategrey;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeOut {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }



  @media screen and (min-width: 374px) and (max-width: 767px){
    .extra-info{
      
      height: 3vh;
      margin-bottom: 0;
  
      
      li{
          font-size: 8px;
         
          list-style: none;
          line-height: 20px;
  
          i{
              margin-right: 0.8em;
          }
      }
  }

.logo{
  display: none;
}

  }