.productHeading{
    align-items: center;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 2em 0em;

    h1{
        font-family: 'Mohave', sans-serif;
        letter-spacing: 3px;
        font-weight: 400;
        
    }
    
}

//shop this look

.productspageLook{
    margin: 2em 0;
}

.lookheadingproductspage{
    position: absolute;
    bottom: 40%;
    right: 10%;
    color: white;
 
}

.lookpproductspage{
    position: absolute;
    bottom: 30%;
    right: 10%;
    color: white;
}


  //shop by look button

  .lookshopNowBtnproduct{
    padding: 0.7em 2em;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    bottom: 15%;
    right: 10%;
  }


  @media screen and (min-width: 374px) and (max-width: 767px){
    .lookheadingproductspage{
        
    display: none;
     
    }
    
    .lookpproductspage{
    display: none;
    }

    .lookshopNowBtnproduct{
        font-size: 12px;
        bottom: 5%;
        right: 25%;
    }
    

    .productspage img{
        width: 250px;
        height: 250px;
    }

    .productspage .pDiv{
 margin: 6em 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px){
    .lookheadingproductspage{
        bottom: 70%;
        left: 5%;
        font-size: 20px;
        color: white;
         
        }
        
        .lookpproductspage{
            bottom: 65%;
            left: 5%;
            max-width: 200px;
            color: white;
        }
    
        .lookshopNowBtnproduct{
            font-size: 12px;
            bottom: 20%;
            right: 70%;
        }
  }

  @media screen and (min-width: 1024px) and (max-width: 1400px){
    .lookheadingproductspage{
        bottom: 65%;
      font-size: 20px;
      right: 5%;
        color: white;
         
        }
        
        .lookpproductspage{
            bottom: 60%;
            right: 5%;
            
            color: white;
        }
    
        .lookshopNowBtnproduct{
            font-size: 12px;
            bottom: 45%;
            right: 10%;
        }
  }
  