.featured-products{
    margin: 1em
}


//PRODUCT CARD
.pDiv{
    margin: 5em 2em;
    padding: 1em;
    width: 300px;
    height: 300px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
 
   

    img{
        width: 300px;
        height: 300px;
        box-shadow: 4px 4px 3px darkgray;
    
    }
    

    h3{
        margin: 2em 1em;
        color: grey;
        
        
        
    }

    p{
        margin: 0.5em;
        
    }

    a{
        text-decoration: none;
        transition: 0.5s ease;
    }

    a:hover{
        opacity: 50%;
    }
}

.featured-products{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
   
}


/*product page card*/

.productspage{
    border-bottom: 1px solid lightgrey;
    padding: 2em 0em;

    img{
        width: 200px;
        height: 200px;
    }

    i{
        color: rgb(243, 204, 29);
    }


}




/* CATEGORY  SECTION*/

.categoryDiv h2 {
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    font-family: "Mohave", sans-serif;
    letter-spacing: 3px;
    border-bottom: 1px solid lightgrey;
    padding: 2em 0em;
  }
  
  .categoryDiv {
    margin: 2em;
    margin-bottom: 5em;

    a{
        color: black;
        text-decoration: none;
    }
  }

 
    
  .categoryDiv img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0.8em;
    box-shadow: 3px 3px 3px 3px lightgray;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .categoryDiv img:hover {
    opacity: 50%;
  }
  
  .imgCateDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .imgText {
    text-align: center;
  }

 


  @media screen and (max-width:768px){

    .pDiv{
        margin: 5em 2em;
        margin-bottom: 10em;
        padding: 1em;
        width: 400px;
        height: 300px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
     
       
    
        img{
            width: 400px;
            height: 300px;
            box-shadow: 4px 4px 3px darkgray;
        
        }
    }    

  }


  @media screen and (min-width: 374px) and (max-width: 767px){
    .pDiv{
        margin: 5em 2em;
        margin-bottom: 10em;
        padding: 1em;
        width: 300px;
        height: 300px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
     
       
    
        img{
            width: 300px;
            height: 300px;
            box-shadow: 4px 4px 3px darkgray;
        
        }
    }   
  }



 