.shopbyLook{
    background-image: url(/images/look.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.shop{
 
  padding: 2em;
}
.lookheading{
  font-size: 25px;
  letter-spacing: 2px;
}

.lookp{
  font-size: 20px;
}

.getThisLookBtn{
  margin: 2em;
}
 


  //shop by look button

  .lookshopNowBtn{
    padding: 0.7em 2em;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
   
  }


  @media screen and (max-width:768px){
    .shopbyLook{
    
      height: 60vh;
      background-size: auto;
      
  }


  }

  @media screen and (min-width: 374px) and (max-width: 767px){
    .shopbyLook{
    width: 100%;
      height: 60vh;
      background-size: cover;
      
  }


  }


  @media screen and (min-width:768px) and (max-width:1125px){
  



  }