.shopbyLook{
    background-image: url(/images/look.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.lookheading{
    position: absolute;
    bottom: -350%;
    right: 10%;
 
}

.lookp{
    position: absolute;
    bottom: -360%;
    right: 10%;
}


  //shop by look button

  .lookshopNowBtn{
    padding: 0.7em 2em;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    bottom: -380%;
    right: 10%;
  }